{% set exception = true %}
{% extends "::layoutSDIS.html.twig" %}

{% block corps %}
	<h1>Page non trouvée</h1>
	<p>La page que vous recherchez ne se trouve malencontreusement pas ici ... Vous trouverez dans le menu ci-dessus tous les liens nécessaires pour accéder à notre site.<br/><br/>Bonne suite de visite !</p>
{% endblock %}
