{% set exception = true %}
{% extends "::layoutSDIS.html.twig" %}

{% block corps %}
	<h1>Une erreur est survenue ...</h1>
	<p>Une erreur inconnue s'est produite ... Si ce problème venait à se répéter vous pouvez utiliser le formulaire de contact en nous précisant l'heure et la date du problème afin d'y remédier <br/><br/>Merci d'avance, votre Webmaster</p>
{% endblock %}
