{% extends '::layoutSDIS.html.twig' %}


{% block corps %}
<h1>Nouveautés</h1>
<table class="table table-bordered">
	<tr>
		<th>Date</th>
		<th>Nouveauté</th>
	</tr>
	
	{% for nouveaute in nouveautes %}
	<tr>
		<td>{{ nouveaute.date|date('d/m/Y') }}</td>
		<td>{{ nouveaute.description }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}