{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" role="form">	
{{ form_rest(form) }}

<input type="submit" class="btn btn-primary" value="Modifier le mot de passe" />
</form>
