{% extends '::layoutAdmin.html.twig' %}

{% block corps %}

<h1>UTILISATION CASERNE</h1>
		<form method="post" {{ form_enctype(form) }} role="form">
			{{ form_widget(form) }}
			<div class="btn-group">
				<input type="submit" class="btn btn-primary" value="Réserver"/>
			</div>
		</form>
{% endblock %}

{% set dates = ['sdis_affichagebundle_utilisationCaserne_debut_date', 'sdis_affichagebundle_utilisationCaserne_fin_date'] %}
{% set times = ['sdis_affichagebundle_utilisationCaserne_debut_time', 'sdis_affichagebundle_utilisationCaserne_fin_time'] %}

{% block javascript %}
    {{ parent() }}
    {% include "::datepicker.js.twig" %}
{% endblock %}