{% extends "JspAdminBundle::layout.html.twig" %}

{% block corps %}
<h1>BIENVENUE</h1>
<p>Dans la partie sécurisée du site du Sdis Chablais, sur la gauche tu trouveras le menu avec toutes les fonctionnalités auxquels tu as accès !</p>
{% endblock %}
