{% extends "JspAdminBundle::layout.html.twig" %}

{% block corps %}
<h1>EVENEMENTS</h1>
<div class="alert alert-success" role="alert">Les événements ont été supprimés avec succès !</div>
{% endblock %}
