{% extends "JspAdminBundle::layout.html.twig" %}

{% block corps %}
<h1>EVENEMENTS</h1>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Purger les événements</h3>
  </div>
  <div class="panel-body">
    <p>Voulez-vous vraiment supprimer les événements de l'année précedante ? </p>
	<div class="btn-group">
		<a href="{{ path('jsp_admin_evenements_liste') }}" class="btn btn-success">Non</a>
		<a href="{{ path('jsp_admin_evenements_purgerok') }}" class="btn btn-danger">Oui</a>
	</div>
  </div>
</div>
{% endblock %}
