{% extends "::layoutSDIS.html.twig" %}

{% block corps %}
<h1>BIENVENUE</h1>
<p>Le 5 Novembre, le SDIS Chablais vous invite au recrutement qui aura lieu à la caserne d'Aigle (Ch. de Marjolin 91).
<a href="http://www.118-info.ch/"><img src="{{ asset('img/recrutement.png') }}" alt="" /></a>
{% endblock %}
