{% extends "::layoutSDIS.html.twig" %}

{% block corps %}
<h1>BIENVENUE</h1>
<p>Le SDIS Chablais vous souhaite la bienvenue sur son site internet.</p>
<img src="{{ asset('img/caserne.jpg') }}" alt="" />
{% endblock %}
