{% extends "::layoutSDIS.html.twig" %}

{% block corps %}
<h1>Organisation</h1>
<p><img src="{{ asset('img/Organigramme2.png') }}" class="img-responsive" alt="Organigramme"/></p>
<p><br/><br/><br/></p>
<p><img src="{{ asset('img/Organigramme.png') }}" class="img-responsive" alt="Organigramme"/></p>
{% endblock %}
